<h1>Used Car Buyer<h1>
<h2>For the car dealer who buys American-made Cars, less than 15 years old.</h2>
<form action="/buy">
  <div class="form-group">
    <label for="make">Make:
    </label>
    <input id="make" name="make" class="form-control" type="text">
    <div>
  <div class="form-group">
    <label for="model">Model:
    </label>
    <input id="model" name="model" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="year">Year:
      </label>
      <input id="year" name="year" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Submit</button>
</form>
